.card {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  list-style-type: none;
  align-items: center;
  margin: 6px;
  padding: 6px;
}

.types {
  border: 1px solid lightgrey;
  margin: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
}
